.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
  margin-bottom: 1em;
}

.dot {
  height: 1.5em;
  width: 1.5em;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.ok {
  background-color: green;
}
