/* Ruslan Sendecky <ruslan.sendecky@nab.com.au> */
/************************************************/

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.5s ease;
}

.record:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.dot {
  height: 1.5em;
  width: 1.5em;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.ok {
  background-color: green;
}
